/*GENERAL */ 

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");


body {
  font-family: "Raleway", "Sans serif";
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 200px;
  margin-right: 200px;
  }

/* MENU */

header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
}

.Lieninscription{
  text-decoration: none;
  font-weight: bold;
  color: #0065FC;
  padding-top: 20px;
}

.Liennav{
  text-decoration: none;
  padding-top: 20px;
}

nav{
    display:flex;
    text-align: right;
    height: 85px;
    width: auto;
    align-items: center;
}

nav a{
    margin-right: 40px;
    color: blue;
}

nav a:hover{
  border-top: 2px solid #0065FC;
}

/* TOP */

h1{
  color: #0065FC;
  font-weight: bold;
  font-style: italic;
}

.Titres h2{
  font-weight: bold;
  margin-bottom: -5px;
}

.Titres p{
  font-size: 15px;
}

/* SEARCH */

.search{
  width: 380px;
  color: #0065FC;
  padding-left: 10px;
  margin-bottom: 30px;
  margin-top: 40px;
}

.Localisez{
  height: 40px;
  background-color: #dfdfdf;
  width: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  float: left;
}

.search .fas{
  text-align: center;
  line-height: 40px;
  color: black;
  display: block;
  margin: auto;
}

.search input{
  width: 200px;
  height: 40px;
  font-size: 15px;
  font-weight: 500;
  border-top: 1px solid #dfdfdf;
  border-right: none;
  border-bottom: 1px solid #dfdfdf;
  border-left: none;
  float: left;
}

.search input::placeholder{
  padding-left: 10px;
  font-weight: bold;
  color: black;
}

.Rechercher{
  background-color: #0065FC;
  border-width: 0px;
  color: white;
  height: 40px;
  width: 100px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Rechercher:hover{
  cursor: pointer;
}

/* FILTRES */

.Filtres{
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 20px;
}

.Filtres a{
  color: black;
}

.Filtres a:hover{
  color: #0065FC;
}

.Filtres h2{
  font-size: 20px;
  float: left;
}

.FiltreRecherche{
  margin-left: 20px;
  display: inline-block;
  justify-items: center;
  height: 50px;
  border: 1px solid #d4d4d4;
  border-radius: 30px;
  padding-right: 20px;

}
.Filtres .fas{
  text-align: center;
  line-height: 50px;
  color: #0065FC;
  display: block;
  margin: auto;
}

.ImgFiltre{
  height: 50px;
  background-color: #c4dcfc;
  width: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  float: left;
}

.NomFiltre{
  float: right;
  line-height: 50px;
  padding-left: 15px;
}

.Info{
  display: flex;
  height: 40px;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 25px;
}

.whitecircle{
  background-color: white;
  width: 25px;
  height: 25px;
  border: 1px solid grey;
  border-radius: 13px;
}

.Info .fas{
  text-align: center;
  line-height: 25px;
  color: #0065FC;
  display: block;
  margin: auto;
}

.Info p{
  padding-left: 15px;
}

/* CONTENT */

.ContenuPrincipal{
  display: flex;
  height: 550px;
  width: 100%;
  margin-bottom: 60px;
}

/* HEBERGEMENTS MARSEILLE */

.HebergementMarseille{
  background-color: #f5f5f5;
  height: 550px;
  width: 60%;
  border-radius: 20px;
  padding-left: 40px;
  display: flex;
  flex-flow: row wrap;
}

.HebergementMarseille p{
  font-weight: bold;
}

.HebergementMarseille h2{
  font-size: 20px;
  padding-top: 10px;
}

.Hebergements{
  border-radius: 10px;
  height: 174px;
  width: 244px;
  display: inline-block;
  margin-right: 35px;
  background-color: white;
}

/* LES PLUS POPULAIRES */

.LesPlusPopulaires{
  height: 550px;
  width: 37%;
  background-color: #f5f5f5;
  margin-left: 3%;
  border-radius: 20px;
  padding-left: 25px;
}

.ResultatsPopulaires{
  height: 440px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: 20px 30px 20px 5px;
}

.Rp{
  height: 130px;
  background-color: white;
  border-radius: 10px;
}

.Rp img{
  height: 120px;
  width: 33%;
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  image-rendering: -webkit-optimize-contrast;
}

/* ACTIVITES A MARSEILLE */

.PortMarseille{
  width: 100%;
  height: 625px;
}

.PortMarseille h3{
  display: inline-block;
  width: 200px;
  height: 20px;
}

.PortMarseille img{
  height: 200px;
  width: 100%;
  image-rendering: -webkit-optimize-contrast;
  border-radius: 10px;
  box-shadow: 0 1px 5px grey;
}

.ImagesActivity{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.SimpleImage{
  width: 22%;
}

.SimpleImage img{
  height: 500px;
  width: 100%;
}

.DoubleImage{
  width: 22%;
}

.DoubleImage img{
  height: 180px;
  width: 100%;
}

.Overlay{
  background-color: white;
  height:50px;
  width: auto;
  top: 500px;
  position: relative;
  z-index: 1;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.DoubleImage .Overlay{
  top: 180px;
  box-shadow: 0 1px 5px grey;
}

/* FOOTER */

.Footer{
  background-color: #f5f5f5;
  height: 200px;
  margin-bottom: 40px;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  width: 90%;
  height: 200px;
}

.grid-container div{
  height: 200px;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 30px;
}

.grid-container h6{
  margin-left: 30px;
  font-size: 17px;
  margin-bottom: 20px;
}

.grid-container p{
  margin-left: 30px;
  font-size: 15px;
  margin-top: -5px;
}